---
isbn: {{ metaData.isbn }}
lastReadDate: {{ metaData.lastReadDate }}
---
《{{ metaData.title }}》
{{ metaData.author }}
{{ metaData.noteCount }}个笔记

# 高亮划线
{% for chapter in chapterHighlights %}
{% if chapter.level == 1 %}
## {{ chapter.chapterTitle }}
{% elif chapter.level == 2 %}
### {{ chapter.chapterTitle }}
{% elif chapter.level == 3 %}
#### {{ chapter.chapterTitle }}
{% endif %}
{% for highlight in chapter.highlights %}
{% set rangeParts = highlight.range | split("-") %}
{% set deeplink = "weread://bestbookmark?bookId=" + metaData.bookId + "&chapterUid=" + highlight.chapterUid + "&rangeStart=" + rangeParts[0] + "&rangeEnd=" + rangeParts[1] %}
{% if highlight.isPopular %}
> 🔥 [{{ highlight.markText | trim }}](<{{ deeplink }}>) — 🙋 {{ highlight.popularCount }} 人划线 ^{{ highlight.bookmarkId }}
{% else %}
> 📌 [{{ highlight.markText | trim }}](<{{ deeplink }}>) ^{{ highlight.bookmarkId }}
{% endif %}
{% endfor %}
{% endfor %}

# 笔记汇总
{% for chapter in chapterHighlights %}
{% for highlight in chapter.highlights %}
{% if highlight.reviewContent %}
## {{ chapter.chapterTitle }} 的想法
{{ highlight.reviewContent }}
> 📌 {{ highlight.markText | trim }}

{% endif %}
{% endfor %}
{% endfor %}

{% if bookReview.bookReviews %}
{% for bookReview in bookReview.bookReviews %}
# 书评
{{ bookReview.createTime }}
{{ bookReview.mdContent }}
{% endfor %}
{% endif %}
