## Metadata
![]({{cover}})
{% if author %}
- Author: [{{author}}] {% endif %}
- Title: {{title}}
- publishTime :{{publishTime}}
## Highlights
{% for chapter in chapterHighlights %}
### 第{{chapter.chapterUid}}章 {{chapter.chapterTitle}}
{% for highlight in chapter.highlights -%}

- {{highlight.markText}}
    - Created at {{highlight.created}}

{% endfor %}
{% endfor %}

## Reviews
{% for chapter in chapterReviews %}
### 第{{chapter.chapterUid}}章 {{chapter.chapterTitle}}
{% for review in chapter.reviews %}

- {{review.abstract}}
    - {{review.content}}
    - Created at {{review.createTime}}
{% endfor %}
{% endfor %}