name: CI

on:
  push:
    branches:
      - "*"
  pull_request:
    branches:
      - "*"

env:
  PLUGIN_NAME: obsidian-weread-plugin

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Build
        id: build
        run: |
          npm install
          npm run build

      - name: Lint
        id: lint
        run: |
          npm run lint